*{
  font-family: sans-serif;
  box-sizing:border-box ;
  margin: 0px;
  text-decoration: none;
  padding: 0px;
}

body{
background: #454545;
background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20201202/pngtree-orange-hexagon-background-image_502769.jpg);
background-size: cover;
}

header{
background: #454545;
}

#t1{
  font-family: 'Kalam', cursive;
  margin: 20px;
  padding: 5px;
  color: #FFE6C7;
  
}

ul{
background-color: #FF6000;
box-shadow: 2px 2px 10px 5px;
border-radius: 10px;
}

nav{
  background: #FFA559;
}

li{
  justify-content: center;
  list-style: none;
  text-align: center;
  background: #FFE6C7;
  color: black;
  border-radius: 10px;
  margin: 6px;
  box-shadow: 2px 2px 10px 5px;
  cursor: pointer;
}

li:hover{
  background: #454545;
  color: white;
  font-size: 20px;
  transition: all 0.2s;
}

p{
  height: 300px;
}

main {
  background:#454545;
  color:white;
}

footer{
  background:#FF6000;
  color: white;

}

.logo{
  width:250px ;
  height:250px ;
  margin-left: 200px;

}


.userpic{
  width:200px ;
  height:200px ;
  border-radius: 50%;
  margin-left: 50px;
}

#watch{
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100px;
  border: 5px solid #FFE6C7;
  border-radius: 20%;
  font-family:ds;
  font-size: 1.7rem;
  font-family: 'Kalam', cursive;
  color: #FFE6C7;
}

.form-register {
  width: 400px;
  background: #FFE6C7;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 20px;
  font-family: 'calibri';
  color: black;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
  align-items: center;
}

.controls {
  width: 100%;
  background: #454545;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #FF6000;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: #FF6000;
  text-decoration: none;
}

.form-register a:hover {
  color: blue;
  text-decoration: underline;
}

#next-btn{
margin-left: 125px;
}

#step-1{
margin-bottom: 100px;
}

#step-2{
 display: none;
}

#summary {
  border: 1px solid #ccc;
  padding: 10px;
}

section{
  border-radius: 10px;
}

.container{
  display: flex;
}

.card{
  border-radius: 20%;
  margin-left: 10px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  flex: 1;
  transition: .3s all ease;
  
}

.card:hover{
  flex: 2;
  background-color: #FF6000;
}